.btn-animate {
  position: relative;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 1.846;
  user-select: none;
  transition: all .4s;
  text-transform: capitalize;
  background-color: transparent;
  box-shadow: none;
  border: 1.5px solid;
  border-color: rgba(0,0,0,.1);
  border-radius: 3px;
  font-family: "SourceSans";
  font-weight: 400;

  border-color: $button-default-border;
  color: $button-default-color;

  &:hover, &:active, &:focus{
    color: $button-default-color-active;
    background-color: $button-default-bg-active;
  }

  > i{
    padding: 5px 5px 0 0;
    font-size: 10px;
  }

  &:focus {
    outline: none;
  }

  &.hidden{
    display: none !important;
  }



  &.action{
    border-color: $button-action-border;
    color: $button-action-color;

    &:hover, &:active, &:focus{
      color: $button-action-color-active;
      background-color: $button-action-bg-active;
    }
  }


  &.delete{
    border-color: $button-delete-border;
    color: $button-delete-color;

    &:hover, &:active, &:focus{
      color: $button-delete-color-active;
      background-color: $button-delete-bg-active;
    }
  }


  &.update{
    border-color: $button-update-border;
    color: $button-update-color;

    &:hover, &:active, &:focus{
      color: $button-update-color-active;
      background-color: $button-update-bg-active;
    }
  }


}
